[Unit]
Description=Threat Intell Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /project/myanmar_safe_bot/bot.py
[Install]
WantedBy=A-coder